$header-bg: #001ef0;
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  background: #090909;
  font-size: 14px;
  user-select: none;
  &.splash {
    overflow: hidden;
    background-color: transparent;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
    }
  }
}
main {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-app-region: no-drag;
  .range-selector {
    padding: 1rem;
  }
  .values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    p {
      font-size: 1rem;
    }
  }
  .generate-btn {
    padding: 1rem;
    display: grid;
  }
  .password-area {
    background-color: darken($header-bg, 30);
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    line-height: 1;
    border-bottom: 4px solid $header-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #password {
      opacity: .5;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      button {
        background-color: transparent;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        line-height: 1;
        font-size: 1.2rem;
        color: rgba(255,255,255,.5);
        &:hover, &:active, &:focus {
          color: white;
        }
      }
    }

  }

}

// components area
@import "components/header";
@import "components/buttons";
@import "components/slider";