button.button {
  height: 50px;
  border-radius: 5px;
  background: #5B60ED;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: 2px solid transparent;
  &.primary {
    background-color: #1267D1;
    border-color: #05418B;
  }
  &.secondary {
    background-color: #4039D2;
    border-color: #2721A7;
  }
  &:hover {
    opacity: .8;
  }
  &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}