$header-bg: #030713;
$title-color: white;
$minimize-btn-bg: #2AC940;
$minimize-btn-border: #37B33B;
$maximize-btn-bg: #FFBE2F;
$maximize-btn-border: #E4A93A;
$quit-btn-bg: #FB5D56;
$quit-btn-border: #E3524A;
header {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $header-bg;
	padding: .5rem 1rem;
	.page-title {
		color: $title-color;
		display: flex;
		align-items: center;
		img {margin-right: .3rem;}
		line-height: 1;
	}
	.header-buttons {
		-webkit-app-region: no-drag;
		display: flex;
		gap: .3rem;
		button {
			border: 2px solid yellow;
			width: 20px;
			height: 20px;
			cursor: pointer;
			border-radius: 50%;

			&#minimizeBtn {
				background-color: $minimize-btn-bg;
				border-color: $minimize-btn-border;
				color: $minimize-btn-border;
			}
			&#maximizeBtn {
				background-color: $maximize-btn-bg;
				border-color: $maximize-btn-border;
				color: $maximize-btn-bg;
				&.disabled {
					cursor: not-allowed;
				}
			}

			&#quitBtn {
				background-color: $quit-btn-bg;
				border-color: $quit-btn-border;
				color: $quit-btn-bg;
			}
		}
	}
}